consultacliente-web/WebContent/wsdl/CustomerQuery/V1.0.0/xsd/card/cardtype-1.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://cardif.bnpparibas.com/lam/schema/card/v1"
	xmlns:tns="http://cardif.bnpparibas.com/lam/schema/card/v1"
	elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xs:element name="cardType" type="tns:CardType_Type"></xs:element>

	<xs:complexType name="CardType_Type">
		<xs:sequence>
			<xs:element name="code" type="xs:integer" minOccurs="0"></xs:element>
			<xs:element name="description" type="xs:string" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>