consultacliente-web/WebContent/WEB-INF/wsdl/CustomerQuery/V1.0.0/xsd/financialmovement/paymentComponent-1.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://cardif.bnpparibas.com/lam/schema/financialmovement/paymentComponent/v1"
	xmlns:tns="http://cardif.bnpparibas.com/lam/schema/financialmovement/paymentComponent/v1"
	elementFormDefault="qualified">

	<xs:element name="paymentComponent" type="tns:PaymentComponent_Type"></xs:element>

	<xs:complexType name="PaymentComponent_Type">
		<xs:sequence>
		<xs:element name="quote" type="xs:integer" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>

</xs:schema>