consultacliente-web/WebContent/wsdl/CustomerQuery/V1.0.0/xsd/common/fileUpload-1.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http:cardif.bnpaparibas.com/lam/schema/common/fileUpload/v1"
	xmlns:tns="http:cardif.bnpaparibas.com/lam/schema/common/fileUpload/v1"
	elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xs:element name="fileUpload" type="tns:FileUpload_Type"></xs:element>

	<xs:complexType name="FileUpload_Type">
		<xs:sequence>
			<xs:element name="idUpload" type="xs:integer" minOccurs="0"></xs:element>
			<xs:element name="fileUploadName" type="xs:string"
				minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>