consultacliente-web/WebContent/wsdl/CustomerQuery/V1.0.0/xsd/common/roleType-1.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://cardif.bnpparibas.com/lam/schema/common/roleType/v1"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://cardif.bnpparibas.com/lam/schema/common/roleType/v1"
	elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xs:element name="RoleType" type="tns:RoleType_Type"></xs:element>

	<xs:complexType name="RoleType_Type">
		<xs:sequence>
			<xs:element name="description" minOccurs="0" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType>


</xs:schema>